[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "projects/microblog"]
	path = projects/microblog
	url = https://github.com/akozich/microblog.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
